<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" /><p>
<label for="tema" class="rem">Temática:</label>
<select name="quiz[tematica]">
	<option value="otro" <% if("otro" === quiz.tematica) { %> selected <% } %>>Otro</option>
	<option value="humanidades" <% if("humanidades" === quiz.tematica) { %> selected <% } %>>Humanidades</option>
	<option value="ocio" <% if("ocio" === quiz.tematica) { %> selected <% } %>>Ocio</option>
	<option value="ciencia" <% if("ciencia" === quiz.tematica) { %> selected <% } %>>Ciencia</option>
	<option value="tecnologia" <% if("tecnologia" === quiz.tematica) { %> selected <% } %>>Tecnología</option>
</select><p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Enviar"/>

